@()(implicit request: Request[_])
<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/chat.css")">
        <script type='text/javascript' src='@routes.Assets.at("lib/jquery/jquery.min.js")'></script>
        <script type='text/javascript' src='@routes.Assets.at("lib/flot/jquery.flot.js")'></script>
        <script type='text/javascript' src='@routes.Assets.at("javascripts/index.js")'></script>
    </head>

    <body
      data-ws-url="@routes.HomeController.ws.webSocketURL(secure = false)"
      data-img-man="@routes.Assets.at("images/man.png")"
      data-img-woman="@routes.Assets.at("images/woman.png")">

        <form id="addsymbolform">
            <div>
                <div>
                    <p>ユーザ名</p>
                    <textarea name="" id="username" cols="10" rows="1"></textarea>
                </div>

                <div>
                    <p>メッセージ</p>
                    <textarea name="" id="addchat" cols="30" rows="4"></textarea>
                </div>
            </div>

            <!-- メッセージを送る部分 -->
            <button name="button" type="submit">送信</button>
        </form>

            <!-- チャット内容が動的に生成される部分 -->
        <div id="chat">
            <div class="chat">
                <figure class="chat-img-left">
                    <img src="@routes.Assets.at("images/man.png")">
                    <figcaption class="chat-img-description">
                        管理人
                    </figcaption>
                </figure>
                <div class="chat-text-right">
                    <p class="chat-text">
                        これはチャットです。上記からメッセージを送信することができます。
                    </p>
                </div>
            </div>
        </div>

    </body>
</html>